.contenedor-publicidad {
  position: relative;
  background-image: url('../../../../assets/images/libreria.webp');
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mascara {
  background-color: rgba($color: #ffffff, $alpha: 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.texto h1 {
  font-size: 3.5rem;
}
